for board in boards
  li(id=board._id, name=board.name)
    - if (board.creator === user.user_id)
      .actions
        form(action="/boards/#{board._id}", method="post")
          button(class="delete-btn", left-title="Delete this board permanently") X
    .creator
      img.avatar(src='/user/avatar/#{encodeURIComponent(board.creator)}', title='#{board.creator}')
    .updated
      | updated on&nbsp;
      span
        date = board.lastUpdated()
        include pretty_date
    .created
      | created on&nbsp;
      span
        date = board.created
        include pretty_date
    a(href='/boards/' + board._id)
      h4.title= board.name
      .note-count
        span.count= board.cards.length
        | &nbsp;notes,&nbsp
        span.count= board.collaborators().length
        | &nbsp;collaborators
