for board in boards
  li(id=board._id, name=board.name)
    .actions
      .copy-url
        a.btn.icon-link(data-left-title="Copy URL for this board.") &nbsp;
      - if (board.creator === userIdentity.userId)
        form(id="form-#{board._id}", action="/boards/#{board._id}", method="post")
          button(class="delete-btn icon-delete", data-left-title="Delete this board permanently") &nbsp;

    .note-count
      .counts
        .notes
          span.icon-stickies &nbsp;
          span.count= board.cards().length

        .collaborators
          span.icon-users &nbsp;
          span.count= board.collaborators().length

    .info
      a.title(href='/boards/' + board._id) #{board.name}
      - creatorIdentity = board.userIdentitySet[board.creator]
      img.creator.avatar(src=creatorIdentity.avatar, title=creatorIdentity.displayName)
      .date
        p
          | updated on&nbsp;
          date = board.lastUpdated()
          include pretty_date
        p.created
          | created on&nbsp;
          date = board.created
          include pretty_date

  script.
    $('#form-#{board._id}').on('submit', function(){ return confirm('WARNING: This will delete all cards this board!!  You cannot get this board back.\n\nAre you sure you want to do this?') })
